* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#book-container {
  width: 80vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.book-card {
  padding: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  min-height: 20rem;
}