* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#book-container {
  width: 80vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.book-card {
  padding: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  min-height: 20rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

#add-book-modal {
  padding: 3rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 1rem;
  top: 25%;
  margin: 0 auto;
  width: 35%;
}

#add-book-form h3{
  text-align: center;
}

#add-book-form label{
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

#add-book-form input {
  margin-top: 0.5rem;
  font-size: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 100%;
}

#add-book-form input:valid {
  outline: 2px solid green;
}

#add-book-form input:invalid {
  outline: 2px solid red;
}

.new-book-button {
  background-color: rgb(40, 123, 219);
  color: white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.modal-add-button {
  background-color: rgb(40, 123, 219);
  color: white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-add-button:hover {
  background-color: rgb(78, 155, 243);
}

.modal-close-button {
  background-color: gray;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-close-button:hover {
  background-color: rgb(172, 172, 172);
}

